<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description>this for c_slave1</description>
  <remoteFS>/home/ec2-user/jenkiins_slave1</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.0">
    <host>13.58.8.253</host>
    <port>22</port>
    <credentialsId>79256c96-71a0-4198-9e52-2ea253ba5993</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyTrustedKeyVerificationStrategy">
      <requireInitialManualTrust>false</requireInitialManualTrust>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>C-slave</label>
  <nodeProperties/>
</slave>